body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}
bodyStyle {
  max-height: 100vh; /* Définit la hauteur maximale de la page en fonction de la hauteur de la fenêtre du navigateur */
  overflow-y: scroll; /* Active le défilement vertical lorsque le contenu dépasse la hauteur de la page */
}
